<div class="system-header" *ngIf="systemObject">
    <div class="system-header-text-left">
        {{systemObject!.system.address}}
    </div>
    <h1 class="system-header-title">{{systemObject!.system.name}}</h1>
    <div class="system-header-text-right">
        {{systemObject!.system.id}}
    </div>
</div>
<div class="system-body" *ngIf="systemObject">
    <div class="system-nav-sidebar">
        <a mat-button [matMenuTriggerFor]="cameraSelector">
            Camera
            <mat-icon>camera_enhance</mat-icon>
        </a>
        <a mat-button [routerLink]="['./sensor']">
            Sensor
            <mat-icon>router</mat-icon>
        </a>
        <a mat-button [routerLink]="['./automation']">
            Automation
            <mat-icon>av_timer</mat-icon>
        </a>
    </div>
    <div class="system-nav-display">
        <router-outlet></router-outlet>
    </div>
</div>

<!--Camera Side Menu-->
<mat-menu #cameraSelector="matMenu">
    <div *ngIf="systemObject != null">
        <a
            mat-menu-item
            *ngFor="let camera of systemObject!.cameras.value; let i = index;"
            [routerLink]="['./camera', i]">
            {{camera.camera.name}}
        </a>
    </div>
</mat-menu>

